/* VARIABLES */

:root {
  /* COLORS */
  /* PRIMARY */
  --clr-yellow-400: 71 73% 54%;
  --clr-cyan-500: 179 62% 43%;
  /* NEUTRAL */
  --clr-gray-50: 204 43% 93%;
  --clr-blue-300: 218 22% 67%;
  --clr-white: 0 0% 100%;

  /* FONT */
  --ff-sans: 'Karla', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* BASE */

body {
  font-family: var(--ff-sans);
  font-weight: var(--fw-regular);
  letter-spacing: -0.0125em;
  padding: 2em;
  background-color: hsl(var(--clr-gray-50));
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding-inline: 1.5em;
}

/* MAIN */

.grid-component {
  max-width: 19.4375em;
  background-color: hsl(var(--clr-white));
  border-radius: 0.3em;
  padding-top: 1.75em;
  box-shadow: 0 1em 1em hsl(var(--clr-blue-300) / 0.3);
  overflow: hidden;
}

.grid-component__title {
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-cyan-500));
  padding-inline: 1.5em;
}

.grid-component__top {
  margin-bottom: 2em;
}

.grid-component__top-title {
  font-size: 0.94rem;
  font-weight: var(--fw-bold);
  line-height: 1.35;
  margin-top: 1.6em;
  color: hsl(var(--clr-yellow-400));
}

.grid-component__top-desc {
  font-size: 0.875rem;
  line-height: 1.85;
  margin-top: 1.143em;
  color: hsl(var(--clr-blue-300));
}

.grid-component__left {
  background-color: hsl(var(--clr-cyan-500));
  padding-block: 1.56em 1.44em;
}

.grid-component__left-title {
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-gray-50));
  margin-bottom: 0.94em;
}

.grid-component__price {
  display: flex;
  align-items: center;
  gap: 0.69em;
  margin-bottom: 0.44em;
  color: hsl(var(--clr-gray-50) / 0.75);
}

.grid-component__value {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-gray-50));
}

.grid-component__left-desc {
  color: hsl(var(--clr-gray-50));
  margin-bottom: 1.88em;
}

.grid-component__cta {
  width: 100%;
  font-weight: var(--fw-bold);
  text-align: center;
  background-color: hsl(var(--clr-yellow-400));
  color: hsl(var(--clr-gray-50));
  padding-block: 0.94em 0.88em;
  border-radius: 0.38em;
  box-shadow: 0 0.5em 0.5em hsl(0, 0%, 0%, 0.1);
  transition: box-shadow 0.2s;
}

.grid-component__cta:where(:hover, :focus) {
  box-shadow: none;
}

.grid-component__right {
  background-color: hsl(var(--clr-cyan-500) / 0.85);
  padding-block: 1.625em;
}

.grid-component__right-title {
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  margin-bottom: 1.056em;
  color: hsl(var(--clr-gray-50));
}

.grid-component__list-item {
  color: hsl(var(--clr-gray-50));
  font-size: 0.875rem;
  margin-bottom: 0.286em;
}

@media screen and (min-width: 40em) {
  /* BASE */

  .container {
    padding-inline: 2.5em;
  }

  /* MAIN */

  .grid-component {
    max-width: 39.688em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2.5em;
    border-radius: 0.5em;
  }

  .grid-component__title {
    grid-column: 1 / span 2;
    font-size: 1.5rem;
    padding-inline: 1.67em;
  }

  .grid-component__top {
    grid-column: 1 / span 2;
    margin-bottom: 2.5em;
  }

  .grid-component__top-title {
    font-size: 1.125rem;
    margin-top: 1.278em;
  }

  .grid-component__top-desc {
    font-size: 1rem;
    line-height: 1.65;
    margin-top: 0.56em;
  }

  .grid-component__left,
  .grid-component__right {
    padding-block: 2.5em;
  }
}
