/* VARIABLES */

:root {
  /* COLORS */
  /* PRIMARY */
  --clr-yellow-400: 71 73% 54%;
  --clr-cyan-500: 179 62% 43%;
  /* NEUTRAL */
  --clr-gray-50: 204 43% 93%;
  --clr-blue-300: 218 22% 67%;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
